<!DOCTYPE html>
<!-- Borrowed here: https://github.com/ShubhamBansal1997/crud-app-vuejs-django -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">
    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <h1>Currency Converter</h1>
        </div>
        <div class="row">
          <div class="form-inline my-2 my-lg-0">
            <label class="form-inline mr-sm-2" for="rate_from">From</label>
            <select id="rate_from" class="form-control mr-sm-2" v-model="from">
              <option v-for="currency in currencies">
               ${currency}
              </option>
            </select>
            <label class="form-inline mr-sm-2" for="rate_To">To</label>
            <select id="rate_to" class="form-control mr-sm-2" v-model="to">
              <option v-for="currency in currencies">
               ${currency}
              </option>
            </select>
            <input class="form-control mr-sm-2" type="date" placeholder="Date" v-model="date" aria-label="Date">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="convert">Convert</button>
          </div>
        </div>
        <div class="row">
          <span class="form-inline my-2 mr-sm-2">${value}</span>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <script src="static/js/main.js" type="text/javascript"></script>
  </body>
</html>
